
### <center>**ЛАБОРАТОРНА РОБОТА №1 <br>Аналіз даних з використанням бібліотеки Pandas**</center>

Імпортуємо необхідні бібліотеки

In [21]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Завантажуємо csv файли та дивимось зміст кожного

In [22]:
df_trip = pd.read_csv('2016_trip_data.csv')
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236065 entries, 0 to 236064
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            236065 non-null  int64
 1   starttime          236065 non-null  object
 2   stoptime           236065 non-null  object
 3   bikeid             236065 non-null  object
 4   tripduration       236065 non-null  float64
 5   from_station_name  236065 non-null  object
 6   to_station_name    236065 non-null  object
 7   from_station_id    236065 non-null  object
 8   to_station_id      236065 non-null  object
 9   usertype           236065 non-null  object
 10  gender             146171 non-null  object
 11  birthyear          146167 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 21.6+ MB

In [23]:
df_weather = pd.read_csv('2016_weather_data.csv')
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         689 non-null    object
 1   Max_Temperature_F            689 non-null    int64
 2   Mean_Temperature_F           688 non-null    float64
 3   Min_TemperatureF             689 non-null    int64
 4   Max_Dew_Point_F              689 non-null    int64
 5   MeanDew_Point_F              689 non-null    int64
 6   Min_Dewpoint_F               689 non-null    int64
 7   Max_Humidity                 689 non-null    int64
 8   Mean_Humidity                689 non-null    int64
 9   Min_Humidity                 689 non-null    int64
 10  Max_Sea_Level_Pressure_In    689 non-null    float64
 11  Mean_Sea_Level_Pressure_In   689 non-null    float64
 12  Min_Sea_Level_Pressure_In    689 non-null    float64
 13  Max_Visibility_Miles         689 non-null    int64
 14  Mean_Visibility_Miles        689 non-null    int64
 15  Min_Visibility_Miles         689 non-null    int64
 16  Max_Wind_Speed_MPH           689 non-null    int64
 17  Mean_Wind_Speed_MPH          689 non-null    int64
 18  Max_Gust_Speed_MPH           504 non-null    object
 19  Precipitation_In             689 non-null    float64
 20  Events                       328 non-null    object
dtypes: float64(5), int64(13), object(3)
memory usage: 113.2+ KB

Змінюємо тип даних для деяких стовпців

In [24]:
df_trip = df_trip.astype({'starttime':'datetime64[ns]','stoptime':'datetime64[ns]', 'usertype': 'category','gender':'category'})
df_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236065 entries, 0 to 236064
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            236065 non-null  int64
 1   starttime          236065 non-null  datetime64[ns]
 2   stoptime           236065 non-null  datetime64[ns]
 3   bikeid             236065 non-null  object
 4   tripduration       236065 non-null  float64
 5   from_station_name  236065 non-null  object
 6   to_station_name    236065 non-null  object
 7   from_station_id    236065 non-null  object
 8   to_station_id      236065 non-null  object
 9   usertype           236065 non-null  category
 10  gender             146171 non-null  category
 11  birthyear          146167 non-null  float64
dtypes: category(2), datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 18.5+ MB

In [25]:
df_weather = df_weather.astype({'Date':'datetime64[ns]', 'Events': 'category'})
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         689 non-null    datetime64[ns]
 1   Max_Temperature_F            689 non-null    int64
 2   Mean_Temperature_F           688 non-null    float64
 3   Min_TemperatureF             689 non-null    int64
 4   Max_Dew_Point_F              689 non-null    int64
 5   MeanDew_Point_F              689 non-null    int64
 6   Min_Dewpoint_F               689 non-null    int64
 7   Max_Humidity                 689 non-null    int64
 8   Mean_Humidity                689 non-null    int64
 9   Min_Humidity                 689 non-null    int64
 10  Max_Sea_Level_Pressure_In    689 non-null    float64
 11  Mean_Sea_Level_Pressure_In   689 non-null    float64
 12  Min_Sea_Level_Pressure_In    689 non-null    float64
 13  Max_Visibility_Miles         689 non-null    int64
 14  Mean_Visibility_Miles        689 non-null    int64
 15  Min_Visibility_Miles         689 non-null    int64
 16  Max_Wind_Speed_MPH           689 non-null    int64
 17  Mean_Wind_Speed_MPH          689 non-null    int64
 18  Max_Gust_Speed_MPH           504 non-null    object
 19  Precipitation_In             689 non-null    float64
 20  Events                       328 non-null    category
dtypes: category(1), datetime64[ns](1), float64(5), int64(13), object(1)
memory usage: 108.8+ KB

Виводимо перші п'ять строк таблиці

In [26]:
df_trip[['trip_id','starttime','stoptime','tripduration','gender']].head()

   trip_id           starttime            stoptime  tripduration  gender
0      431 2014-10-13 10:31:00 2014-10-13 10:48:00       985.935    Male
1      432 2014-10-13 10:32:00 2014-10-13 10:48:00       926.375    Male
2      433 2014-10-13 10:33:00 2014-10-13 10:48:00       883.831  Female
3      434 2014-10-13 10:34:00 2014-10-13 10:48:00       865.937  Female
4      435 2014-10-13 10:34:00 2014-10-13 10:49:00       923.923    Male

Значення категоріальних змінних у trip_data

In [27]:
df_trip['usertype'].unique()

['Member', 'Short-Term Pass Holder']
Categories (2, object): ['Member', 'Short-Term Pass Holder']

In [28]:
df_trip['gender'].unique()

['Male', 'Female', 'Other', NaN]
Categories (3, object): ['Female', 'Male', 'Other']

Фільтруємо датасет

In [29]:
new_df_trip = df_trip[df_trip['from_station_name']!=df_trip['to_station_name']]
new_df_trip.isna().sum()

trip_id                  0
starttime                0
stoptime                 0
bikeid                   0
tripduration             0
from_station_name        0
to_station_name          0
from_station_id          0
to_station_id            0
usertype                 0
gender               73891
birthyear            73895
dtype: int64

In [30]:
df_weather.loc[df_weather['Events'] == 'Fog , Rain', 'Events'] = 'Fog-Rain'
df_weather.loc[df_weather['Events'] == 'Rain , Snow', 'Events'] = 'Rain-Snow'
df_weather.loc[df_weather['Events'] == 'Rain , Thunderstorm', 'Events'] = 'Rain-Thunderstorm'
df_weather['Events'] = pd.Categorical(df_weather['Events']).remove_unused_categories()
df_weather.dropna(subset='Events',inplace=True)
df_weather['Events'].unique()

['Rain', 'Rain-Snow', 'Fog', 'Fog-Rain', 'Rain-Thunderstorm', 'Snow']
Categories (6, object): ['Fog', 'Fog-Rain', 'Rain', 'Rain-Snow', 'Rain-Thunderstorm', 'Snow']

In [31]:
df_weather.groupby('Events')['Date'].agg('count')

Events
Fog                   16
Fog-Rain              13
Rain                 287
Rain-Snow              3
Rain-Thunderstorm      7
Snow                   2
Name: Date, dtype: int64

### Найпопулярніші пари станцій та завантаження у Excel

In [32]:
new_df_trip['sorted_trip'] = new_df_trip[['from_station_name', 'to_station_name']].apply(lambda x: tuple(sorted(x)), axis=1)
pairs_of_stations = new_df_trip.groupby(['sorted_trip']).size()
pairs_of_stations.to_excel('station_trip.xlsx')
pairs_of_stations.nlargest()

sorted_trip
(Pier 69 / Alaskan Way & Clay St, Seattle Aquarium / Alaskan Way S & Elliott Bay Trail)              3896
(2nd Ave & Pine St, 3rd Ave & Broad St)                                                              2063
(King Street Station Plaza / 2nd Ave Extension S & S Jackson St, Pier 69 / Alaskan Way & Clay St)    1699
(1st Ave & Marion St, Pier 69 / Alaskan Way & Clay St)                                               1486
(Dexter Ave N & Aloha St, Republican St & Westlake Ave N)                                            1374
dtype: int64

### 1. Визначте дату з максимальною кількістю поїздок. Згенеруйте таблицю кількості поїздок за датами

In [33]:
new_df_trip.groupby(new_df_trip['starttime'].dt.date)['starttime'].count().nlargest()

starttime
2015-04-20    870
2015-04-19    658
2015-07-17    657
2015-05-09    650
2015-07-04    642
Name: starttime, dtype: int64

### 2. Визначте місяць з максимальною кількістю поїздок. Згенеруйте таблицю кількості поїздок за місяцями

In [34]:
new_df_trip.groupby(new_df_trip['starttime'].dt.strftime('%B'))['starttime'].count().nlargest()

starttime
July      29090
August    27532
June      25046
May       23492
April     19816
Name: starttime, dtype: int64

### 3. Визначте день тижня з максимальною кількістю поїздок. Згенеруйте таблицю кількості поїздок за днями тижня

In [35]:
new_df_trip.groupby(new_df_trip['starttime'].dt.strftime('%A'))['starttime'].count().nlargest()

starttime
Thursday     33996
Friday       33436
Wednesday    33295
Tuesday      32999
Monday       32320
Name: starttime, dtype: int64

### 4. Розрахуйте загальну кількість поїздок за гендерною приналежністю та згенеруйте відповідну таблицю розподілу

In [36]:
new_df_trip.groupby('gender')['gender'].count().nlargest()

gender
Male      110724
Female     29360
Other       2809
Name: gender, dtype: int64

### 5. Визначте рік в якому кількість поїздок була максимальною. Згенеруйте таблицю кількості поїздок за роками

In [37]:
new_df_trip.groupby(new_df_trip['starttime'].dt.year)['starttime'].count().nlargest()

starttime
2015    129208
2016     68751
2014     18825
Name: starttime, dtype: int64

### 6. Розрахуйте загальну кількість поїздок для кожного типу користувачів та згенеруйте відповідну таблицю розподілу

In [38]:
new_df_trip.groupby('usertype')['usertype'].count().nlargest()

usertype
Member                    142893
Short-Term Pass Holder     73891
Name: usertype, dtype: int64

### 7. Визначте місяць з максимальною кількістю дощових днів. Згенеруйте таблицю кількості дощових днів за місяцями

In [39]:
df_weather[df_weather['Events'].str.contains('Rain')].groupby(df_weather['Date'].dt.strftime('%B'))['Date'].count().nlargest()

Date
December    42
February    41
March       39
November    38
January     34
Name: Date, dtype: int64

### 8. Визначте день тижня з максимальною кількістю дощових днів. Згенеруйте таблицю кількості дощових днів за днями тижня

In [40]:
df_weather[df_weather['Events'].str.contains('Rain')].groupby(df_weather['Date'].dt.strftime('%A'))['Date'].count().nlargest()

Date
Friday      49
Monday      48
Saturday    45
Tuesday     45
Thursday    43
Name: Date, dtype: int64

### 9. Визначте рік в якому кількість дощових днів була максимальною. Згенеруйте таблицю кількості дощових днів за роками

In [41]:
df_weather[df_weather['Events'].str.contains('Rain')].groupby(df_weather['Date'].dt.year)['Date'].count().nlargest()

Date
2015    159
2016    100
2014     51
Name: Date, dtype: int64

### 10. Розрахуйте загальну кількість поїздок за віком (для трьох вікових категорій: молоді, середній вік, похилий вік) та згенеруйте відповідну таблицю розподілу

In [42]:
new_df_trip['birthyear'].describe()

count    142889.000000
mean       1979.944768
std          10.066026
min        1936.000000
25%        1975.000000
50%        1983.000000
75%        1987.000000
max        1999.000000
Name: birthyear, dtype: float64

In [43]:
def fun(x):
    if x < 1979:
        return 'Old'
    if x >= 1979 and x  < 1986:
        return 'Middle'
    if x >=1986:
        return 'Young'

In [44]:
new_df_trip['age_group'] = new_df_trip['birthyear'].map(fun)
new_df_trip['age_group'].value_counts()

age_group
Young     50872
Old       47667
Middle    44350
Name: count, dtype: int64